
.boton4 {
    background: #6d716c;
    color: #000000;
    border: 2px solid #afb6b0; 
    padding: 4px 8px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .boton4:hover {
    overflow: hidden;
    color: #000000;
  }
  .boton4::after {
    content: "";
    background: #afb6b0; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-in-out;
  }
  .boton4:hover::after {
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in-out;
  }
  .boton3 {
    background: #b8afaf; /* color de fondo */
  color: #b22f2f; /* color de fuente */
  border: 2px solid #d74141; /* tamaño y color de borde */
  padding: 4px 8px;
  border-radius: 8px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.boton3:hover {
    color: #ded7d7;/* color de fuente hover */
  }
.boton3::after {
    content: "";
    background: #bf2727; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 4px 8px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  :hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }
  .boton2 {
    background: #b8afaf; /* color de fondo */
  color: #dfcf25; /* color de fuente */
  border: 2px solid #b2d630; /* tamaño y color de borde */
  padding: 4px 8px;
  border-radius: 8px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.boton2:hover {
    color: #ded7d7;/* color de fuente hover */
  }
.boton2::after {
    content: "";
    background: #b2d630; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 20px 28px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  :hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }
  .boton1 {
    background: #8283e7; /* color de fondo */
  color: rgb(20, 9, 238); /* color de fuente */
  border: 2px solid #3330d6; /* tamaño y color de borde */
  padding: 4px 8px;
  border-radius: 8px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.boton1:hover {
    color: #ded7d7;/* color de fuente hover */
  }
.boton1::after {
    content: "";
    background: rgb(42, 5, 227); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 4px 8px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  :hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }
  .page-title-box{
    background-color: #f5f7fa;
    background-image: linear-gradient(100deg, #fcfefc, #fefafafc);
  }
  .card{
    background-color: #f5fbfb;
  }
  /* Estilos para la tabla */
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

  .th, td {
    padding: 8px;
    border: 1px solid #ccc;
}
